<div id="<%= dom_id employment_status %>">
  <p>
    <strong>Name:</strong>
    <%= employment_status.name %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= employment_status.meta %>
  </p>

</div>
