<h1>Editing employment status</h1>

<%= render "form", employment_status: @employment_status %>

<br>

<div>
  <%= link_to "Show this employment status", @employment_status %> |
  <%= link_to "Back to employment statuses", employment_statuses_path %>
</div>
