<div id="<%= dom_id work_shif %>">
  <p>
    <strong>Name:</strong>
    <%= work_shif.name %>
  </p>

  <p>
    <strong>From:</strong>
    <%= work_shif.from %>
  </p>

  <p>
    <strong>To:</strong>
    <%= work_shif.to %>
  </p>

</div>
