<h1>Editing work shif</h1>

<%= render "form", work_shif: @work_shif %>

<br>

<div>
  <%= link_to "Show this work shif", @work_shif %> |
  <%= link_to "Back to work shifs", work_shifs_path %>
</div>
