<p style="color: green"><%= notice %></p>

<h1>Licenses</h1>

<div id="licenses">
  <% @licenses.each do |license| %>
    <%= render license %>
    <p>
      <%= link_to "Show this license", license %>
    </p>
  <% end %>
</div>

<%= link_to "New license", new_license_path %>
