<p style="color: green"><%= notice %></p>

<h1>Job categories</h1>

<div id="job_categories">
  <% @job_categories.each do |job_category| %>
    <%= render job_category %>
    <p>
      <%= link_to "Show this job category", job_category %>
    </p>
  <% end %>
</div>

<%= link_to "New job category", new_job_category_path %>
