<div id="<%= dom_id qualification %>">
  <p>
    <strong>Name:</strong>
    <%= qualification.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= qualification.description %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= qualification.meta %>
  </p>

</div>
