<h1>Editing qualification</h1>

<%= render "form", qualification: @qualification %>

<br>

<div>
  <%= link_to "Show this qualification", @qualification %> |
  <%= link_to "Back to qualifications", qualifications_path %>
</div>
