

<div class="container mt-4 mb-4  bg-white p-2 rounded">
  <h2>Editing Education</h2>
  <hr>
  <div class="input-group mb-3">
</div>
  <%= render "form", education: @education %>
</div>




<br>

<div> 
  |
  <%= link_to "Back to educations", admin_educations_path %>
</div>
