

<div class="container mt-4 mb-4  bg-white p-2 rounded">
<h1>New education</h1>
<hr>
<br>
<%= render "form", education: @education %>

<br>  
</div>



<div>
  <%= link_to "Back to educations", admin_educations_path %>
</div>
